<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
  <meta charset="UTF-8">
  <title>List of Pet Owners</title>
</head>
<body>

<h2 th:text="'List of Owners'">Owners List</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 150px;">Id</th>
    <th style="width: 150px;">First Name</th>
    <th style="width: 150px;">Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="owner: ${owners}">
    <th th:text="${owner?.id}">1</th>
    <th th:text="${owner?.firstName}">Joe</th>
    <th th:text="${owner?.lastName}">Buck</th>
  </tr>
  </tbody>
</table>

</body>
</html>