<p>1. add a input field which updates a property ("username") via Two-way-binding</p>
<p>2. Output the username property via String interpolation (in a paragraph below the input)</p>
<p>3. add a button which may only be clicked if the username is NOT an empty string</p>
<p>4. Upon clicking the button, the username should be reset to an empty string</p>

<app-user></app-user>
