<h3>Reactive Forms</h3>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label >The image</label>
  <app-image-upload formControlName="image"></app-image-upload>
  <button>Submit</button>
</form>
