<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Recipe Home</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

  <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="pt.adro.springframework.recipe.demo.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="pannel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Categories:</h5>
              </div>
              <div class="col-md-9">
                <ul>
                  <li th:remove="all">cat one</li>
                  <li th:remove="all">cat two</li>
                  <li th:each="category : ${recipe.categories}"
                      th:text="${category.getDescription()}">cat three
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Prep Time:</h5>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.getPrepTime()} + ' min'">30 min</p>
              </div>
              <div class="col-md-3">
                <h5>Difficulty:</h5>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.getDifficulty()}">Easy</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Cooktime:</h5>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.getCookTime()} + ' min'">30 min</p>
              </div>
              <div class="col-md-3">
                <h5>Servings:</h5>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.getServings()}">4</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Source:</h5>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.getSource()}">30 min</p>
              </div>
              <div class="col-md-3">
                <h5>URL:</h5>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.getUrl()}">http://www.example.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title">Ingredients</h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li th:remove="all">1 Cup of milk</li>
                  <li th:remove="all">1 Teaspoon of chocolate</li>
                  <!--/*@thymesVar id="ingredient" type="pt.adro.springframework.recipe.demo.domain.Ingredient"*/-->
                  <li th:each="ingredient : ${recipe.getIngredients()}"
                      th:text="${ingredient.getAmount()
                      + ' ' + ingredient.getUnitOfMeasure().getDescription()
                      + ' - ' +ingredient.getDescription()}">1 Teaspoon of Sugar
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title">Directions</h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <p th:text="${recipe.getDirections()}">Lorem ipsum dolor sit amet, consectetuer
                  adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                  pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                  vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                  venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                  tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                  nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                  Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
                  adipiscing sem neque sed ipsum.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title">Notes</h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <p th:text="${recipe.getNote().getRecipeNotes()}">Lorem ipsum dolor sit amet,
                  consectetuer adipiscing elit. Aenean commodo ligula
                  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                  montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                  pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                  vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                  venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                  tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                  Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                  nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                  Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
                  adipiscing sem neque sed ipsum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>