<hr>
<div> You're inside the User component</div>
<label> Username </label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="username">
<p> {{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="isEmpty()"
  (click)="resetUsername()"
> Reset me!
</button>
