<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit:server.id === 3 ? '1': '0'}"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
<!--    <div class="btn btn-primary" (click)="onReload()">Reload Page</div>-->
<!--    <app-edit-server></app-edit-server>-->
<!--    <hr>-->
<!--    <app-server></app-server>-->
  </div>
</div>

