<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name: </label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control">
          <span *ngIf="!signupForm.get('projectName').valid && signupForm.get('projectName').touched"
                class="help-block">
<!--           <span *ngIf="signupForm.get('projectName').errors['projectNameIsForbidden']">Please provided a project name other thant 'test'!</span>-->
           <span *ngIf="signupForm.get('projectName').errors['projectNameSupIsForbidden']">Please provided a project name other thant 'sup'!</span>
            <span *ngIf="signupForm.get('projectName').errors['required']">This field is required!</span>
             </span>
        </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control">
          <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">
            <span *ngIf="signupForm.get('email').errors['email']">Please enter a valid email!</span>
            <span *ngIf="signupForm.get('email').errors['required']">This field is required!</span>
          </span>
        </div>

        <div class="form-group">
          <label for="status">Status: </label>
          <select
            id="status"
            formControlName="status"
            class="form-control">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>

          </select>
        </div>
        <span
          *ngIf="!signupForm.valid && signupForm.touched">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>
