<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
  <meta charset="UTF-8">
  <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="pt.adro.springframework.sfgpetclinic.model.Vet"*/-->

<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Specialties</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="vet : ${vets}">
    <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
    <td><span th:each="specialty : ${vet.specialities}"
              th:text="${specialty.description + ' '}"/> <span
        th:if="${vet?.specialities?.size() == 0}">none</span></td>
  </tr>
  </tbody>
</table>
</body>
</html>