<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Recipe Home</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

  <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"></script>
</head>
<body>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="description" type="pt.adro.springframework.recipe.demo.domain.Recipe"*/-->

<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h1 class="panel-title">My Recipes!</h1>
        </div>
        <div class="panel-body">
          <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
            <table class="table table-hover ">
              <thead class="thead-inverse">
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>View</th>
                <th>Update</th>
              </tr>
              </thead>
              <tr th:remove="all">
                <td>123</td>
                <td>Tasty Goodnees 1</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr th:remove="all">
                <td>12333</td>
                <td>Tasty Goodnees 2</td>
                <td><a href="#">View</a></td>
              </tr>
              <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.id}">334</td>
                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}}">View</a></td>
                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>