<div class="row">
  <div class="col-xs-6">
    <button class="btn btn-success" (click)="startTheGame()">Start the Game</button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-danger" (click)="stopTheGame()">Stop the Game</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="" ></app-odd>
  </div>
</div>
