<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the signupUpForm, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            name="email"
            ngModel
            required
            email
            #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>

        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="text"
            id="password"
            name="password"
            ngModel
            required
            #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && email.touched">Please enter a password!</span>
        </div>

        <div class="form-group">
          <label for="subscription">Subscriptions: </label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!form.valid">Submit
        </button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data: </h3>
      <p>Mail:  {{ formData.email }}</p>
      <p>Password:  {{ formData.password }}</p>
      <p>Subscription Type:  {{ formData.subscription }}</p>
    </div>
  </div>
</div>
