<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Sring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr th:each="author : ${authors}">
    <th th:text="${author.id}">123</th>
    <th th:text="${author.firstName}">Author First Name</th>
    <th th:text="${author.lastName}">Author Last Name</th>
   </tr>
</table>

</body>
</html>