<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Sring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Tittle</th>
    <th>Publisher</th>
  </tr>
  <tr th:each="book : ${books}">
    <th th:text="${book.id}">123</th>
    <th th:text="${book.title}">Spring in Action</th>
    <th th:text="${book.publisher.name}">Wrox</th>
   </tr>
</table>

</body>
</html>