<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create Two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Style the Components appropriately</li>
      </ol>
      <p>Use external or internal templates and styles</p>
      <p>Feel fre to create more components, nest them into each other or play around with different types of
        selectors</p>
    </div>
  </div>
  <hr>
  <app-sucess-alert></app-sucess-alert>
  <app-warning-alert></app-warning-alert>
</div>
