<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3> Bind it</h3>
      <p>1. Create three components: GameControl, Odd, Even </p>
      <p>2. The GameControl Component should have buttons to start and stop the game</p>
      <p>3. When starting the game, an event (holding a incrementing number) should get emitted each second (ref =
        setInterval()</p>
      <p>4. The event should be listenable from outside the component.</p>
      <p>5. when stopping the game, no more events should get emitted (cleaInterval(ref)</p>
      <p>6. A new Odd component should get created for every odd number emitted, the same should happen for the Even
        Component (on Even numbers)</p>
      <p>7. Simply output Odd - NUMBER or Even - NUMBER in the two components.</p>
      <p>8. Style the element (e.g. paragraph) holding your output text differently in both components.</p>
    </div>
  </div>
  <hr>
  <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
</div>
